@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="./nats/Westbound.xml">Westbound Tracks</a>
    </div>
    <div>
        <a href="./nats/Eastbound.xml">Eastbound Tracks</a>
    </div>
</body>
</html>
