# visual studio user profile
*.suo

# idea
.idea*

# visual studio profiler
*.psess
*.vsp

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# others
src/TestResults
src/ProfileReports/
src/TrackBackupApp/nats
src/TrackBackupApp/log.txt

# temp files
~$*