*.suo
*.psess
*.vsp
.idea*
bin/
obj/
src/TestResults
src/ProfileReports/
src/TrackBackupApp/nats
src/TrackBackupApp/log.txt
src/QspLiteSetup/Debug
src/QspLiteSetup/Release
src/Installer/Debug
src/Installer/Release