# visual studio user profile
*.suo

# Resharper settings
src/QSimPlanner.sln.DotSettings.user

# idea
.idea*

# visual studio profiler
*.psess
*.vsp
*.vspx

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# others
.vscode
src/TestResults
src/ProfileReports/
src/TrackBackupApp/nats
src/TrackBackupApp/log.txt

# temp files
~$*
.~*